<ion-view>
  <ion-nav-buttons side="left">
    <i  class='buzz-nav-left-title'>User Agreement</i>
  </ion-nav-buttons>

  <ion-content class="buzz-content">
      This privacy policy covers the treatment of personally identifiable information ("Personal information"),
      and other information described in this policy, gathered when you are using or accessing the services.
      <br />
      This Privacy Policy also covers our treatment of any Personal information that our business partners share
      with us or that we share with our business partners.
  </ion-content>
</ion-view>
